<h1 class="custom-label">{{ title }}</h1>
<form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form-container">
  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Enter Email</mat-label>
      <input matInput type="text" [(ngModel)]="credentialLogin.email" name="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter Password</mat-label>
      <input matInput type="password" [(ngModel)]="credentialLogin.password" name="password" required>
    </mat-form-field>

    <button mat-raised-button color="warn" type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>
