<button mat-raised-button class="material-icons-outlined" (click)="cancel()">arrow_back</button>
<br>
<br>
<mat-form-field class="full-width-input">
  <input matInput type="text" placeholder="New Name of workspace" [(ngModel)]="workspace.name" required>
</mat-form-field>

<mat-form-field class="full-width-input">
  <input matInput type="text" placeholder="New Address of workspace" [(ngModel)]="workspace.address" required>
</mat-form-field>

<br>
<button mat-raised-button (click)="editWorkspaceToDB()">Save</button>
